@import (reference) "./global";


.@{prefix} {

    &-list {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        margin: 20px auto 0;
        text-align: center;

        &-item {
            flex: auto;
            min-width: 80px;
            max-width: 100px;
        }
    }

}

