@import (reference) "./global";


.@{prefix} {

    &-list {
        position: relative;
        margin: 20px auto 0;
        padding-bottom: 50px;
        text-align: center;
        white-space:nowrap;

        &-item {
            display: inline-block;
            min-width: 80px;
            max-width: 100px;
            height: 100%;
            vertical-align: top;

        }
    }

}

