@import (reference) "./global";


.@{prefix} {
    min-width: 600px;
    max-width: 1400px;
    margin: 0 auto;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;

    &-header {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        z-index: 1;
    }
    
}

