html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, ul, ol, li, input, textarea, p{
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
li {
    list-style: none outside none;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}